{% extends "layout.html" %}

{% block content %}
    <form action="" method="post" name="edit">
        {{ edit_form.hidden_tag() }}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ edit_form.topic(class="form-control", placeholder="Topic") }}
            </div>
            <div class="panel-body">
                {{ edit_form.outline(class="form-control note-outline") }}
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
{% endblock %}