{% extends "layout.html" %}

{% block content %}
    <div class="panel panel-default">
        {% if q %}
        <div class="panel-heading">
            <form method="get">
                {{ search_form.hidden_tag() }}
                <div class="input-group">
                    {{ search_form.query(size=20, class="form-control") }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">Search</button>
                    </span>
                </div>
            </form>
        </div>
        {% endif %}
        <div class="panel-body">
            {% if notes %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Example post</td>
                        <td>21/04/2015</td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            There's nothing here, perhaps you should add a note!
            {% endif %}
        </div>
        <div class="panel-footer">
            <nav class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}