{% extends "bootstrap/base.html" %}
{% block title %}
{% if title %}
+Note - {{title}}
{% else %}
+Note
{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/main.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header nav">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">+Note</a>
        </div>
        <div class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav nav-pills">
                <li><a href="/">List</a></li>
                <li><a href="/add">Add New</a></li>
                <li><a href="/find">Search</a></li>
            </ul>
        </div>
        <form class="navbar-form navbar-right" role="search" action="/find" method="get">
            {{ search_form.hidden_tag() }}
            <div class="input-group">
                {{ search_form.query(size=20, class="form-control") }}
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>
{% endblock %}